profiles {

    aws {
        process {
            executor = 'awsbatch'
            queue = 'aws-batch-nigms-JobQueue'                              // Name of your Job queue
            
        }
    workDir = 's3://<REPLACE_W_BUCKET_NAME_>/work'                          // Replace <...> with your bucket name
    params {
      data_path   = "./Microbiome_Community_Analysis"
      fasta_file  = "s3://nigms-sandbox/nosi-usd-biofilms/uniprot-download_true_format_fasta_includeIsoform_true-2022.09.23-02.40.31.85.fasta"
      query_file  = "s3://<REPLACE_W_BUCKET_NAME_>/subset_proteins_seqs.fa" // Replace <...> with your bucket name
      output_file = "proteins_blastp_results.txt"
      evalue      = 1e-30
    }
        
        fusion.enabled = true
        wave.enabled = true
        aws.region = 'us-east-1'                                            // YOUR AWS REGION

    }

}


