profiles {
  gcb {
    params {
      data_path   = "./Microbiome_Community_Analysis"
      fasta_file  = "gs://nigms-sandbox/nosi-usd-biofilms/uniprot-download_true_format_fasta_includeIsoform_true-2022.09.23-02.40.31.85.fasta"
      query_file  = "gs://<REPLACE_W_BUCKET_NAME_>/subset_proteins_seqs.fa" // Replace <...> with your bucket name
      output_file = "proteins_blastp_results.txt"
      evalue      = 1e-30
    }

    workDir = 'gs://<REPLACE_W_BUCKET_NAME_>/work'                          // Replace <...> with your bucket name

    process {
      executor    = 'google-batch'
      machineType = 'c2d-highmem-16'
    }

    google {
      location = 'us-central1'
      region   = 'us-central1'
      project  = '<Your project ID>'                                   // Replace <...> with your Google Cloud project ID
    }
  }
}